body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(#e66465, #9198e5);
}

#container {
    width: 20%;
    margin: auto;
}    

#calculator {
    /* border: 0.2px solid; */
    border-radius: 0.2em;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;  
}

#calculatorDisplay {
    background-color: #2b2d42;
    color: #edf2f4;
    text-align: right;
    padding: 1rem 1.5rem;
    /* width: 20rem; */
}

#calculatorKeys {
    background-color: #e4e4e4;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, auto);
    grid-template-areas:
      "CE C clear divide"
      "seven eight nine times"
      "four five six minus"
      "one two three plus"
      "signChange zero dot equal";
}

#calculatorKeys > button {
    border: 0;
    padding: 1rem 0;
    font-size: 1rem;
}
  
[data-type='number']:hover, [data-type='operator']:hover {
    background-color: #E0DEDE;
}

[data-type='operator'] {
    background-color: #C4C4C4;
}

.equals {
    background-color: #FF902E;
    grid-area: equal;
}

.equals:hover {
    background-color: #AF5200;
}


.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}


.dot {
    grid-area: dot;
}

.backspace {
    grid-area: clear;
}

.CE {
    grid-area: CE;
}

.C {
    grid-area: C;
}

.signChange {
    grid-area: signChange;
}

.plus {
    grid-area: plus;
}

.minus {
    grid-area: minus;
}

.multiply {
    grid-area: times;
}

.divide {
    grid-area: divide;
}